{% extends "base.html" %}
{% load crispy_forms_tags  %}

{% block content %}
    <div class="row">
        <h2 class="col-md-4">{{ view.title }}</h2>
    </div>

    <div class="jumbotron">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm" />
        </form>
    </div>

{% endblock %}