{% extends "base.html" %}
{% load crispy_forms_tags  %}

{% block content %}

    <div class="row">
        <h2 class="col-md-4">{{ view.title }}</h2>
        <div class="col-md-8">
            <h3 class="pull-right">
                {% if back_link %}
                    <a href="{{ back_link }}">Back <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                {% endif %}
            </h3>
        </div>
    </div>

    {% if object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ heading }}
            </div>
            <ul class="list-group">
                {% for thing in object_list %}
                <li class="list-group-item clearfix">
                    <h4 class="pull-left">{{ thing }}</h4>
                    <span class="pull-right">
                        {% if update_url_name %}
                            <a href="{% url update_url_name thing.pk %}" class="btn btn-success">Edit</a>
                        {% endif %}
                        {% if detail_url_name %}
                            <a href="{% url detail_url_name thing.pk %}" class="btn btn-info">Detail</a>
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block pre_content %}{% endblock %}

    <div class="jumbotron">
        {% crispy form %}
        {% if sub_link %}
            <a href="{{ sub_link }}">{{ sub_link_text }}</a>
        {% endif %}
    </div>

{% endblock %}