{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}oh fak 👌{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="icon" href="media/jumping.svg" sizes="any" type="image/svg+xml">

</head>
<body>
{% block body %}
    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "index" %}">Trampoline</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url "index" %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Clubs</a></li>
                        <li><a href="#">Contact</a></li>
                        {#                            <li class="dropdown">#}
                        {#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
                        {#                                   aria-haspopup="true"#}
                        {#                                   aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                        {#                                <ul class="dropdown-menu">#}
                        {#                                    <li><a href="#">Action</a></li>#}
                        {#                                    <li><a href="#">Another action</a></li>#}
                        {#                                    <li><a href="#">Something else here</a></li>#}
                        {#                                    <li role="separator" class="divider"></li>#}
                        {#                                    <li class="dropdown-header">Nav header</li>#}
                        {#                                    <li><a href="#">Separated link</a></li>#}
                        {#                                    <li><a href="#">One more separated link</a></li>#}
                        {#                                </ul>#}
                        {#                            </li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#TODO">{{ request.user }}</a></li>
                        <li>
                            {% if request.user.is_authenticated %}
                                <a href="{% url "logout" %}" >Log out</a>
                            {% else %}
                                <a href="{% url "login" %}">Log in</a>
                            {% endif %}
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

    </div> <!-- /container -->

    <div class="container">
        {% block content %}
            <div class="jumbotron">
                <h2>Welcome to Elina land</h2>
                <p>Hello</p>
                <div class="clearfix">
                    <a class="btn btn-lg btn-success pull-right" href="#TODO" role="button">Start here</a>
                </div>
            </div>
        {% endblock %}
    </div> <!-- /container -->

{% endblock %}

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>