{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h2 class="col-md-4">{{ object }}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Current Attempt
        </div>
        <ul class="list-group">
            <li class="list-group-item clearfix">
                {% if current_participation.in_progress_attempt %}
                    {{ current_participation }}
                    <span class="pull-right">
                        <a href="{% url "judge_attempt" current_participation.in_progress_attempt.pk %}" class="btn btn-success">JUDGE!</a>
                    </span>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Waiting participations
        </div>
        <ul class="list-group">
            {% for participation in participations %}
                <li class="list-group-item clearfix">
                    {{ participation }}: finished attempt count {{ participation.attempt_count }}
                    <span class="pull-right">
                        <form action="{% url 'create_participation_attempt' participation.id %}" method="POST">
                        {% csrf_token %}
                            <button class="btn {% if forloop.first %}btn-success{% else %}btn-warning{% endif %}" type="submit">Start attempt</button>
                        </form>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}