{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h2 class="col-md-4">{{ object }}</h2>
        <div class="col-md-8">
            <h3 class="pull-right">
                <a href="{% url "event_update" object.pk %}">
                    Edit
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </h3>
            <h3 class="pull-right">
                <a href="{% url "event_delete" object.pk %}">
                    Delete
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Kohtunikud</div>
                <ul class="list-group">
                    {% for j in object.available_judges.all %}
                        <li class="list-group-item">
                            {{ j }}
                            {% if j.participation_comment %}
                                <span class="badge alert-warning" data-toggle="tooltip" title="Judging in 4 events">
                                    4
                                </span>
                            {% endif %}
                            {% if j.participation_comment %}
                                <span class="badge alert-danger" data-toggle="tooltip"
                                      title="{{ j.participation_comment }}">Participating</span>
                            {% endif %}
                            {% if j.availability_comment %}
                                <span class="badge alert-danger" data-toggle="tooltip"
                                      title="{{ j.availability_comment }}">Part-time</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Võistlused
                    <div class="pull-right">
                        <a href="{% url "competiton_create" object.pk %}">
                            Add Competition
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <ul class="list-group">
                    {% for c in object.competitions.all %}
                        <li class="list-group-item clearfix">
                            <a href="{% url "competition_detail" c.pk %}">{{ c }} - {{ c.judges.count }}</a>
                            <div class="pull-right">
                                <a href="{% url "competition_judge_register" c.id %}">
                                    Judges
                                </a>
                                <a href="{% url "competition_update" c.id %}">
                                    Edit
                                </a>
                                <a href="{% url "competition_delete" c.id %}">
                                    Delete
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}