{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h2 class="col-md-4">{{ object }}</h2>
        <div class="col-md-8">
            {% if user.is_authenticated and is_staff %}
                <h3 class="pull-right">
                    <a href="{% url "event_management" object.pk %}">
                        Management
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                </h3>
                <h3 class="pull-right">
                    <a href="{% url "judge_add" object.pk %}">
                        Add judges
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </h3>
            {% endif %}
        </div>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-9">
                <h2>{{ object }}</h2>
                <p>We offer great service, very cheap</p>
            </div>
            <div class="col-md-3">
                <div class="clearfix">
                    {% if object.leaflet %}
                        <a class="btn btn-lg btn-success pull-right" href="{{ object.leaflet.url }}" role="button">
                            Get leaflet 👌
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Kohtunikud</div>
                <ul class="list-group">
                    {% for j in object.available_judges.all %}
                        <li class="list-group-item">
                            {{ j }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Võistlused
                </div>
                <ul class="list-group">
                    {% for c in object.competitions.all %}
                        <li class="list-group-item">
                            <a href="{% url "competition_detail" c.pk %}">{{ c }}</a>
                            <div class="pull-right">
                                <a href="{% url "competition_participation_register" c.id %}">
                                    Add participants
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}