{% extends "base.html" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ heading }}
        </div>
        <ul class="list-group">
            {% for thing in object_list %}
            <li class="list-group-item clearfix">
                <h4 class="pull-left">{{ thing }}</h4>
                <span class="pull-right">
                    <a href="{% url update_url_name thing.pk %}" class="btn btn-success">Edit</a>
                    <a href="{% url detail_url_name thing.pk %}" class="btn btn-info">Detail</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}