{% extends "base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="jumbotron">
            <h2>Welcome to The best Trampoline software</h2>
            <p>We offer great service, very cheap</p>
            <div class="clearfix">
                <a class="btn btn-lg btn-success pull-right" href="#TODO" role="button">Start here 👌</a>
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="panel">
            <div class="clearfix">
                <a class="btn btn-lg btn-success pull-right" href="{% url "event_create" %}" role="button">Create event 👌</a>
            </div>
        </div>
    {% endif %}

    {% for events in events_grouped %}
        <div class="row">
            {% for event in events %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% url "event_detail" event.id %}">
                            {% if event.image %}
                                <img src="{{ event.image.url }}" alt="Lights" style="width:100%">
                            {% else %}
                                <img src="http://www.trampoline.co.uk/images/dwhcuphall.jpg" alt="Lights" style="width:100%">
                            {% endif %}
                            <h3>{{ event }} - {{ event.begin_time.date }}</h3>
                            <div class="caption">
                                <p>{{ event.description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}


{% endblock %}