{% extends "base_create.html" %}

{% block pre_content %}
    <ul class="list-group">
        {% for judge in registered_judges %}
            <li class="list-group-item">{{ judge.user }}: {{ judge.get_role_display }}</li>
        {% endfor %}
    </ul>
{% endblock %}